[Unit]
Description=Zia Proxy HTTPS ${DOMAIN_NAME}
DefaultDependencies=no
After=network.target

[Service]
Type=simple
User=daci
Group=daci
WorkingDirectory=/opt/zia
ExecStart=/opt/zia/zia -config ${CONFIG}
TimeoutStartSec=0
RemainAfterExit=yes
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=default.target
