html, body{
  width: 100%;
  height: 100%;

  background: #f2f2f2;
  overscroll-behavior: none;
  overflow-y: auto;
}

.content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 25px;
  gap: 0px 0px;
  grid-template-areas: "." ".";
}

.v-center {
  margin-left: auto !important;
  margin-right: auto !important;
}

footer{
  background-color: darkslategray;
  text-align: center;
  color: white
}
footer .ver{
  color: orange;
  font-weight: 600;
}