# SYSTEMD Zia Reverse Proxy
# this is an example, just change the params with your values
# remove timeout for no timeout settings
# sudo systemctl enable --now zia zia@test.com

[Unit]
Description=Zia Reverse Proxy
After=local-fs.target network.target syslog.target

[Service]
Nice=10
Type=simple
User=daci
Group=daci
WorkingDirectory=/opt/zia
ExecStart=/opt/zia/zia -domain test.com -port 443 -targets https://10.0.0.1:8081,https://10.0.0.2:8082 -timeout 5
TimeoutStartSec=0
RemainAfterExit=yes
Restart=on-failure
KillMode=process
RestartSec=3s

[Install]
WantedBy=multi-user.target